.heart {
  stroke: red;
  stroke-width: 30;
  font-size: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  color: red;
  opacity: 0.2;
  cursor: pointer;
  background-clip: text;
  transition: all 0.5s;
}

.heart:hover
{
  opacity: 1;
}
.active {
  animation: like 0.5s 1;
  opacity: 1;
}

@-webkit-keyframes like {
  0% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);
  }
}
